.header {
  background-color: rgb(5, 52, 7);
  color: #fff;
  padding: 20px;
  text-align: center;
}
.header h3 {
  font-size: 33px;
  font-weight: 500;
}
.header p {
  font-size: 20px;
  font-weight: 300;
  color: rgb(168, 168, 155);
}
